@use "../../../scss/general/variables" as variables;
@use "../../../scss/general/mixins" as mixins;

.header {
  background-color: variables.$primaryColor;
  border-bottom: 1px solid variables.$secondaryColor;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: variables.$adjacentColor;

    img {
      height: auto;
      max-height: 85px;
    }
  }

  &__menu {

  }
}
