@use "../../../../scss/general/variables";
@use "../../../../scss/general/mixins";

.topline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__stars {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;

    img {
      display: inline-block;
    }

    @media (max-width: 768px) {
      img { display: none; }
    }
  }

  &__tiktok {
    display: flex;
    justify-content: space-between;
    gap: 27em;

    @media (max-width: 768px) {
      gap: 1em;
    }
  }
}