.form-section {
  background: #222;
  color: white;
  padding: 60px 20px;
  text-align: center;
  width: 75%;
  margin: 0 auto;

  form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

    input, textarea {
      padding: 10px;
      border: none;
      border-radius: 5px;
    }

    button {
      background: #ff7e00;
      color: white;
      padding: 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: #e66c00;
      }
    }
  }
}
